<!DOCTYPE html>
<html>
<head>
    <title>Travel Book Stall</title>

    <style>
        body{
            font-family: Arial;
            text-align:center;
            background:#f4f4f4;
        }

        h1{
            color:darkblue;
        }

        .book{
            background:white;
            margin:20px auto;
            padding:20px;
            width:300px;
            border-radius:10px;
            box-shadow:0px 0px 10px gray;
        }

        a{
            text-decoration:none;
            color:green;
            font-size:22px;
        }
    </style>
</head>

<body>

<h1>Travel Book Stall</h1>

<div class="book">
    <a href="/india">India</a>
</div>

<div class="book">
    <a href="/andhra">Andhra Pradesh</a>
</div>

<div class="book">
    <a href="/anantapur">Anantapur</a>
</div>

</body>
</html>
